[submodule "tests/earthquake/earthquake.git"]
	path = tests/earthquake/earthquake.git
	url = https://github.com/osrg/earthquake.git
	branch = master
[submodule "tests/earthquake/tgt.git"]
	path = tests/earthquake/tgt.git
	url = https://github.com/sheepdog/tgt.git
	branch = earthquake
[submodule "tests/unit/cmock"]
	path = tests/unit/cmock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "tests/unit/unity"]
	path = tests/unit/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
