#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.mod.c
*.i
*.lst
*.symtypes
*.d
*.orig
*.rej
cscope.*
*.gcda
*.gcno
*.info
*~
*.la
*.lo
*.service
*.log
*.trs

#
# for GLOBAL
#
GTAGS
GRTAGS
GPATH
GSYMS

#
# programs
#
test-driver
dog/dog
sheep/sheep
sheepfs/sheepfs
shepherd/shepherd
tools/zk_control
tests/unit/dog/test_common
tests/unit/sheep/test_vdi
tests/unit/sheep/test_cluster_driver
tests/unit/sheep/test_hash
tests/unit/lib/test_util

# directories
.deps
autom4te.cache
coverage

aclocal.m4
Makefile
Makefile.in
INSTALL
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
push
stamp-h1
libtool
ltmain.sh
config.h
config.h.in
script/generic
script/dog
script/sheepdog

tests/check.log
tests/check.time
tests/atconfig
tests/*.out.bad
tests/unit/dog/dog
tests/unit/sheep/sheep

*.patch

man/sheep.8
man/dog.8
man/sheepfs.8

*.deb

compile_commands.json
