#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.mod.c
*.i
*.lst
*.symtypes
*.d
*.orig
*.rej
cscope.*

#
# for GLOBAL
#
GTAGS
GRTAGS
GPATH
GSYMS

#
# programs
#
collie/collie
sheep/sheep
sheepfs/sheepfs
shepherd/shepherd

# directories
.deps
autom4te.cache

aclocal.m4
Makefile
Makefile.in
INSTALL
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
push
stamp-h1
libtool
ltmain.sh
config.h
config.h.in
script/generic

tests/check.log
tests/check.time
tests/atconfig
tests/*.out.bad
tests/logs.*

*.patch
