#!/bin/sh

set -e

. /usr/share/debconf/confmodule
if [ -r /etc/default/sheepdog ] ; then
	. /etc/default/sheepdog
	if [ x"yes" = x"$START" ] ; then
		db_set sheepdog/start true
	else
		db_set sheepdog/start false
	fi
	db_set sheepdog/daemon_args "$DAEMON_ARGS"
fi
db_input medium sheepdog/start || true
db_input medium sheepdog/daemon_args || true
db_go || true

exit 0
